@import 'themeColors';

.Account {
  .danger {
    font-size: .6em;
    color: $danger;
  }
  .danger:first-of-type {
    font-size: 1em;
  }

  .hdPath {
    font-size: 0.75em;
    font-weight: 200;
  }
}
