@import 'themeColors';
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: $white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.right {
  float: right;
}

li {
  list-style-type: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
  line-height: 1.7em;
  color: $lightGrey;
  font-size: 13px;
  min-width: 1250px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: $darkGrey;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: $lightBlue;
    color: $white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: $white;
    color: $lightBlue;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: $slate;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: $white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: $white;
}

.home-menu a {
    color: $medBlue;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: $lightBlue;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: $white;
    border: 3px solid $white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: $white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: $white;

}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    /* margin: 2em 0 1em; */
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: $white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: $lightBlue;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: $slate;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}

.main-header {
  background: $slate;
}

.main-header a {
  color: $medBlue;
}

.main-header .pure-menu-item a.pure-menu-link, .main-header a.pure-menu-link:hover {
  background: none;
}

.main-header .pure-menu-item a.pure-menu-link.pure-menu-selected, .main-header a.pure-menu-link:hover {
  color: #fff;
}

.main-header .networkInfo {
  background: $medBlue;
}

.main-header .networkInfo a {
  color: $slate;
}

.WalletDisplay ul {
  list-style-type: none;
  color: $darkGrey;
  padding-left: 1em;
  padding-right: 1em;
}

.WalletDisplay ul.subheader li {
  display: inline;
}

.WalletDisplay ul.subheader {
  font-size: 0.8em;
  margin: 0;
}

.WalletDisplay.content {
  padding: 1em 0;
}

.WalletDisplay.content, .Blocks, .WrapperBlockDetails, .ConfigurationDisplay, .Transaction, .Convert {
  background: $white;
}

.WalletDisplay td {
  padding: 1.2em;
}

.pure-table {
  width: 100%;
  border: none;
}

.pure-table tbody {
  border-style: solid;
  border-color: $slate;
  border-width: 0 0 1px 0;
}

.pure-table tr {
  border-style: solid;
  border-color: $slate;
  border-width: 1px 0 0 0;
}

.pure-table td {
  padding: 1em;
  border: none;
  line-height: 1.1em;
  color: $slate;
  font-weight: bold;
}

.pure-table td .subheader {
  font-size: 0.75em;
  padding-bottom: 0;
  color: $slate;
  font-weight: normal;
}

.AddressDisplay td, .Blocks td {
  padding: 1.25em 1em;
}

.AddressDisplay td.important .subheader, .Blocks td.important .subheader {
  font-size: 0.6em;
}

.AddressDisplay td.important, .Blocks td.important {
  font-size: 1.3em;
}

.pure-button {
  background-color: $medBlue;
}

.main-header .pure-menu-horizontal {
  padding: 1em 0;
}

.main-header .pure-menu-horizontal svg {
  font-size: 1.25em;
}

.main-header .pure-menu-horizontal.networkInfo {
  padding: 1em 0;
  color: #fff;
  font-size: 0.75em;
  line-height: 1.25em;
}

.main-header .pure-menu-horizontal.networkInfo li {
  padding-left: 1em;
  padding-right: 10px;
}

.AddressDisplay .danger {
  color: $danger;
}

.danger-background {
  background-color: $danger;
}

.Blocks td:first-of-type, .DetailsHeader td:first-of-type {
  background-color: $medBlue;
  color: $white;
  text-align: center;
  padding: 0.75em;
  width: 5%;
}

.DetailsHeader.pure-table td:first-of-type .subheader {
  color: $white;
}

.Blocks tr:hover {
  background: #eee;
}

.Blocks tr:hover td:first-of-type {
  background: $danger;
}

.DetailsHeader.pure-table tr:first-of-type td {
  font-size: 1.5em;
}

.DetailsHeader.pure-table tr:first-of-type td:first-of-type {
  font-size: 1em;
}

.DetailsHeader.pure-table tr:first-of-type td:first-of-type:hover {
  background-color: $danger;
}

.tableFormatting.pure-table {
  font-size: 1em;
}

.tableFormatting.pure-table tr {
  border: none;
}

.tableFormatting.pure-table tr:not(:first-of-type) td {
  font-weight: normal;
  font-size: 0.75em;
  width: 20%;
}

.tableFormatting.pure-table tbody:last-of-type {
  border: none;
}

.tableFormatting ul {
  padding-left: 0;
}

.Faq .pure-g h2, .Faq h3, .Faq p {
  padding-left: 2%;
}

.Faq .pure-g h2, .Faq h3 {
  font-weight: 400;
}

.Faq a {
  text-decoration: none;
  color: $medBlue;
}

.rangeslider-horizontal .rangeslider__fill {
  background: $medBlue;
}

.tableFormatting.pure-table tbody.txSummary {
  border-width: 1px 0;
  border-style: solid;
  border-color: $slate ;
}

.tableFormatting.pure-table tbody.txSummary:hover {
  background: #eee ;
}

.nextPage {
  cursor: pointer;
}

.label {
  color: $white;
  padding: 8px;
}

.tableFormatting {
  .coinbase {background-color: $danger;}
}
.success {background-color: #4CAF50;}
.info {background-color: #2196F3;}
.warning {background-color: #ff9800;}
.danger {color: $danger;}
.other {background-color: #e7e7e7; color: black;}

.breakWord {
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 100px;
}

.transactionDetails h3 {
  padding-left: 1em;
}

.Transaction .coinbase {
  width: 10%;
}

.Convert {
  padding-top: 15px;
  margin-top: 0;
  text-align: center;

  canvas {
    height: 250px !important;
    width: 250px !important;
  }
}
