@import 'themeColors';

.tableFormatting.pure-table {
  font-size: 1em;
}

.tableFormatting.pure-table tr {
  border: none;
}

.tableFormatting.pure-table tr:not(:first-of-type) td {
  font-weight: normal;
  font-size: 0.75em;
  width: 20%;
}

.tableFormatting.pure-table tbody:last-of-type {
  border: none;
}

.tableFormatting ul {
  padding-left: 0;
}

.Faq .pure-g h2, .Faq h3, .Faq p {
  padding-left: 2%;
}

.Faq .pure-g h2, .Faq h3 {
  font-weight: 400;
}

.Faq a {
  text-decoration: none;
  color: $medBlue;
}

.rangeslider-horizontal .rangeslider__fill {
  background: $medBlue;
}

.tableFormatting.pure-table tbody.txSummary {
  border-width: 1px 0;
  border-style: solid;
  border-color: $slate ;
}

.tableFormatting.pure-table tbody.txSummary:hover {
  background: #eee ;
}

.nextPage {
  cursor: pointer;
}

.label {
  color: $white;
  padding: 8px;
}

.tableFormatting {
  .coinbase {background-color: $danger;}
}
.success {color: #4CAF50;}
.info {background-color: #2196F3;}
.warning {background-color: #ff9800;}
.danger {color: $danger;}
.other {background-color: #e7e7e7; color: black;}

.breakWord {
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 100px;
}

.transactionDetails h3 {
  padding-left: 1em;
}

.Transaction .coinbase {
  width: 10%;
}

.SignAndVerify {
  padding-top: 15px;
  margin-top: 0;
}

.Convert {
  padding-top: 15px;
  margin-top: 0;
  text-align: center;

  canvas {
    height: 250px !important;
    width: 250px !important;
  }

  .alignLeft {
    text-align: left;
    padding-left: 2em;
  }

  .alignRight {
    text-align: right;
    padding-right: 2em;
  }
}

.Convert, .Configuration {
  input {
    width: 100%;
  }
}

.SignAndVerify {
  textarea, input {
    width: 100%;
  }

  button {
    margin-right: 10px;
  }
}

#signature1 {
  color: darkGrey;
}

/* The AccountModal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 250px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* AccountModal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
}

.modal-header {
    padding: 2px 16px;
    background-color: $medBlue;
    h2 {
      color: white;
    }
}

.modal-body {
  padding: 2px 16px;
  h3, h4 {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
}

/* The Close Button */
.close {
    color: $white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.importAndExportBtn {
  border: none;
  background: none;
  color: $medBlue;
}

.importAndExportBtn:hover{
  border: none;
  background: none;
}

.importAndExportBtn:focus{
  border: none;
  background: none;
}

#keyImportAndExportModal {
  .modal-body {

    .ImportAndExport {
      height: 400px;

      textarea {
        width: 100%;
        height: 350px;
        border: none;
      }
    }
  }
}

.hide {
  display: none;
}

.Explorer {
  padding-right: 10px;
}

.input-icon-wrap {
  border: 1px solid $lightGrey;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.input-icon {
  background: $slate;
  color: $medBlue;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.input-with-icon {
  background: $slate;
  border: none;
  flex: 1;
  line-height: inherit;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 400px;
}

.input-icon, .input-with-icon {
  padding: 10px;
}

.AccountReceive .qr {
  text-align: center;
  p {
    canvas {
      width: 256px !important;
      height: 256px !important;
    }
  }
}

.AccountReceive ul {
  padding-left: 0;
}

.AccountReceive li {
  border-width: 0 0 1px 0;
  border-color: #eee;
  border-style: solid;
  padding: 5px 0 5px 10px;
}

.AccountReceive li:hover {
  background: $white;
  cursor: pointer;
}

.AccountReceive .totalReceived {
  font-size: .8em;
}

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: $medBlue;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: $slate;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: $medBlue;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}

.AccountDetailsHeader {
  .subheader {
    font-size: .8em;
    margin-bottom: 0;
  }

  .balance {
    margin: 10px 0;
    color: black;
    font-size: 1.75em;
  }

  .balance:first-of-type {
    font-weight: bold;
  }

  .subbalance {
    margin-top: 0;
    color: $lightGrey;
    font-size: 1em;
  }

  div {
    padding: 1em 2em;
  }
}

.plus {
  color: green;
}

.minus {
  color: red;
}

.AccountTransactions, .AccountReceive, .AccountSend {
  background: #eee;
}

.AccountTransactions {

  h2 {
    margin: 0;
  }

  table {
    tbody {
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: #d3d3d3;
      cursor: pointer;
    }

    th {
      text-align: left;
      border: none;
    }

    tr:first-of-type {
      border: none;
    }

    tr {
      border-color: #d3d3d3;
    }

    tr:nth-child(2) {
      box-shadow: 0px 0px 2px 0px #aaa;
      background: $white;
    }

    tr:last-of-type {
      box-shadow: 0px 1px 2px 0px #aaa;
      background: $white;
    }

    tr:hover {
      background: #eee;
    }

    td {
      color: $lightGrey;
    }
  }

  h2 {
    padding: 1em;
  }

  th, td {
    padding: 1.5em 2em;
    font-weight: normal;
  }
  th:last-of-type, td:last-of-type {
    text-align: right;
  }

  td:last-of-type {
    color: black;
  }
}

.AccountDetails {
  .pure-menu.pure-menu-horizontal {
    padding-bottom: 5px;

    a.pure-menu-link:hover {
      color: $medBlue;
    }

    a.pure-menu-link.pure-menu-selected {
      color: $slate;
      border-style: solid;
      border-width: 0 0 1px 0;
    }
  }

  .account {
    font-size: 1.75em;
  }
}
