@import 'themeColors';

.SignAndVerify {
  padding-top: 15px;
  margin-top: 0;

  textarea, input {
    width: 100%;
  }

  button {
    margin-right: 10px;
  }

  #signature1 {
    color: darkGrey;
  }
}
